QUESTION 1.
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

In [77]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [78]:
b()  
#Here, when first time b() is called, the value of a is updated to 2.
# Explanation:1. Here, in first step, the value of 'a' is read as 0. 
#2.In second step, c(a) is called with a=0 and c(a) returns 2
#3.In third step,the value of a gets updated to 2 which is the return value of c(0)

b()
#Here, when first time b() is called, the value of a is updated to 4.
# Explanation:1 Here, in first step, the value of 'a' is read as 2. 
# 2.In second step, c(a) is called with a=2 and c(a) returns 4
# 3.In third step,the value of a gets updated to 4 which is the return value of c(2)

b()
#Here, when first time b() is called, the value of a is updated to 6.
# Explanation:1 Here, in first step, the value of 'a' is read as 4. 
# 2.In second step, c(a) is called with a=4 and c(a) returns 6
# 3.In third step,the value of a gets updated to 6 which is the return value of c(4)

a
#Output ->6

6

QUESTION 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [74]:
def file_length(file_name):
    file = None
    
    try:
        file = open(file_name)
    except FileNotFoundError as e:
        print(f"File {file_name} not found.")
    
    if file is not None:
        contents = file.read()
        file.close()
        print(len(contents))

In [25]:
file_length('Filelength.txt')

123

In [26]:
file_length('ilelength.txt')

File ilelength.txt not found.

QUESTION 3.
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [37]:
class Marsupial:
    def __init__(self, contents=[]):
        self.lst = []
    def put_in_pouch(self, item):
        self.lst.append(item)
    def pouch_contents(self):
        print(self.lst)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [39]:
class Marsupial:
    def __init__(self):
        self.pouch = []
 
    def put_in_pouch(self, item):
        self.pouch.append(item)
 
    def pouch_contents(self):
        return self.pouch
 
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
 
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
 
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
 
k = Kangaroo(0, 0)
 
print(k) 
 
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
 
contents = k.pouch_contents()
print(contents)  
 
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)

print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [8]:
def collatz(x):
    if(x== 1 or x == 0):
        print(x)
        return
    
    if(x%2 == 0):
        print(x)
        x = int(x/2)
        collatz(x)
    else:
        print(x)
        x = int(3*x+1)
        collatz(x)
    
    return

In [9]:
collatz(1)

1

In [10]:
collatz(10)

10
5
16
8
4
2
1

QUESTION 5.
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [3]:
def binary(x):
    if x > 1:
        binary(x//2)
    print(x % 2,end = '')

In [4]:
binary(0)

0

In [5]:
binary(1)

1

In [6]:
binary(3)

11

In [7]:
binary(9)

1001

QUESTION 6.
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have 
 Computer Studies
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [11]:
from html.parser import HTMLParser

In [16]:
class HeadingParser(HTMLParser):
    
    def __init__(self):
        super().__init__()
        self.current_start_tag = ''
        self.current_data = ''
        self.current_end_tag = ''
        self.tag_indents = {'h1':'','h2':' ','h3':'  ','h4':'   ','h5':'    ','h6':'     '}
    
    def handle_starttag(self, tag, attrs):
#         print("Start tag:", tag)
#         for attr in attrs:
#             print("     attr:", attr)
        self.current_start_tag = tag
            
    def handle_endtag(self, tag):
#         print("End tag  :", tag)
        self.current_end_tag = tag
        if self.current_start_tag in ['h1','h2','h3','h4','h5','h6'] and self.current_start_tag == self.current_end_tag:
            print(f"{self.tag_indents[self.current_start_tag]}{self.current_data}")
        
    def handle_data(self, data):
#         print("Encountered some data  :", data)
        self.current_data = data

In [17]:
infile = open('w3c.txt')
content = infile.read()
infile.close()

In [18]:
hp = HeadingParser()

In [19]:
content

'<!DOCTYPE html>\n<html lang="en">\n\n<head>\n  <meta name="description" content="Webpage description goes here" />\n  <meta charset="utf-8">\n  <title>Change_me</title>\n  <meta name="viewport" content="width=device-width, initial-scale=1">\n  <meta name="author" content="">\n  <link rel="stylesheet" href="css/style.css">\n</head>\n\n<body>\n  \n\t<h1>W3C Mission</h1>\n\t<h2>Principles</h2>\n \n\n\n</body>\n</html>'

In [20]:
hp.feed(content)

W3C Mission
 Principles

QUESTION 7.
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [32]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class collectURL(HTMLParser):
    'collects hyperlinks into a list'
    
    def __init__(self, url):
        'initializes parser, url and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = [] 
    
    def handle_starttag(self, tag , attrs):
        'collects URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absURL = urljoin(self.url, attr[1])
                    if absURL[:4] == 'http':
                        self.links.append(absURL)
                        
    def getLinks(self):
        return self.links

def webdir(url, dep, indent):
    'Recursive function to print each visited webpage URL reachable from the URL' 
    'Indentation depending on depth/clicks required to reach that page'
    content = urlopen(url).read().decode()
    collector = collectURL(url)
    collector.feed(content)
    urls = collector.getLinks()
    
    if indent == 0:
        print(url)
    else:
        print(indent*' ',url)

    for url in urls:
        if dep > 0:
            #print(dep)
            webdir(url, dep - 1, indent+2)

In [33]:

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
   http://reed.cs.depaul.edu/lperkovic/test2.html
     http://reed.cs.depaul.edu/lperkovic/test4.html
   http://reed.cs.depaul.edu/lperkovic/test3.html
     http://reed.cs.depaul.edu/lperkovic/test4.html

QUESTION 8.
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature 
(C)
Rainfall 
(mm)
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

In [82]:

import sqlite3
#Creating Database
conn = sqlite3.connect('weatherreport.db')
cur = conn.cursor()
#Drop the table if it exist
cur.execute("DROP TABLE IF EXISTS weather;")
#Table creation
cur.execute("CREATE TABLE weather (city TEXT, country TEXT, season TEXT, temperature float, rainfall float)")
#Inserting values to the table
cur.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);")
cur.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);")
cur.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);")
cur.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);")
cur.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);")
cur.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);")
cur.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);")
cur.execute("INSERT INTO weather VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);")
cur.execute("INSERT INTO weather VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);")

conn.commit()


# Query 1
cur.execute('SELECT temperature FROM weather')
for record in cur:
    print("Query 1:",record)
# Query 2

cur.execute('SELECT DISTINCT city FROM weather')
for record in cur:
    print("Query 2:",record)

# Query 3
cur.execute('SELECT * FROM weather WHERE season = "Fall"')
for record in cur:
    print("Query 3:",record)

# Query 4
cur.execute('SELECT * FROM weather WHERE country = "India"')
for record in cur:
    print("Query 4:",record)

# Query 5
cur.execute('SELECT city, country FROM weather WHERE (season = "Fall") AND (temperature > 20) ORDER BY temperature DESC')
for record in cur:
    print("Query 5:",record)

# Query 6
cur.execute('SELECT city, country, season FROM weather WHERE (rainfall > 200) AND (rainfall < 400)')
for record in cur:
    print("Query 6:",record)

# Query 7
cur.execute('SELECT SUM(rainfall) FROM weather WHERE city = "Cairo"')
Annual_rainfall = cur.fetchall()
print("Query 6:",Annual_rainfall)

# Query 8
cur.execute('SELECT SUM(rainfall), season FROM weather GROUP BY season')
for record in cur:
    print("Query 7:",record)

conn.close()

Query 1: (24.8,)
Query 1: (27.9,)
Query 1: (27.6,)
Query 1: (4.2,)
Query 1: (8.3,)
Query 1: (15.7,)
Query 1: (10.4,)
Query 1: (13.6,)
Query 1: (20.7,)
Query 2: ('Mumbai',)
Query 2: ('London',)
Query 2: ('Cairo',)
Query 3: ('Mumbai', 'India', 'Fall', 27.6, 346.0)
Query 3: ('London', 'United Kingdom', 'Fall', 10.4, 218.5)
Query 4: ('Mumbai', 'India', 'Winter', 24.8, 5.9)
Query 4: ('Mumbai', 'India', 'Summer', 27.9, 1549.4)
Query 4: ('Mumbai', 'India', 'Fall', 27.6, 346.0)
Query 5: ('Mumbai', 'India')
Query 6: ('Mumbai', 'India', 'Fall')
Query 6: ('London', 'United Kingdom', 'Winter')
Query 6: ('London', 'United Kingdom', 'Fall')
Query 6: [(23.0,)]
Query 7: (564.5, 'Fall')
Query 7: (176.1, 'Spring')
Query 7: (1706.4, 'Summer')
Query 7: (230.1, 'Winter')

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [83]:
# Creating a list with the words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Listing all words upper case

upper_case=[]
for m in words:
    a= m.upper()
    upper_case.append(a)
print("Answer 1:",upper_case)

# Listing all words lower case

lower_case=[]
for m in words:
    a= m.lower()
    lower_case.append(a)
print("Answer 2:",lower_case)

# Listing length of each word
length=[]
for m in words:
    a=len(m)
    length.append(a)

print("Answer 3:",length)

# Listing the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word
upper_lower_length = []
for m in words:
    a= m.upper()
    b= m.lower()
    c= len(m)
    d = a ,b ,c
    upper_lower_length.append(d)

print("Answer 4:",upper_lower_length)

# Listing the list of words in list words containing 4 or more characters
length_list=[]
for m in words:
    if len(m)>=4:
        length_list.append(m)
        
print("Answer 5:",length_list)

Answer 1: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Answer 2: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Answer 3: [3, 5, 5, 3, 5, 4, 3, 4, 3]
Answer 4: [('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]
Answer 5: ['quick', 'brown', 'jumps', 'over', 'lazy']